@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$swatch_1: #ffffff;
$swatch_2: #fdfdfd;
$swatch_3: #5448c8;
$swatch_4: #56555e;
$swatch_5: #341cfc;
$swatch_6: #b2a4f1;
$swatch_7: #8b77ed;
